body {
	width: 100%;
	height: 95vh;
}

.content {
	display: flex;
	flex-flow: column;
	height: 95%;
}

.note-content {
	flex: 1 1 auto;
	height: 100%;
	width: 95%;
	margin: auto;
	padding: 0;
}

.note-content textarea {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.editable {
	width: 95%;
	height: 95%;
	margin: 10px;
}

.monospaced {
	font-family: monospace;
}

a.note-link {
	color: var(--fore-color);
}

a.note-link:visited {
	color: var(--fore-color);
}

#backup-contents {
	width: 90%;
}
