<div class="box">
    <h3 class="title">
        <a href="./{{path}}" class="posts-title">
            {{title}}
        </a>
    </h3>
    <p class="post-description">
        {{description}}
    </p>
</div>

