<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Liberdade.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/vendor/bulma.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/img/logo.png">
    </head>
    <body>
        <nav class="navbar" id="header">
            <div class="navbar-brand">
                <a class="navbar-item brand" href="/">
                    Liberdade
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="/blog" class="header-link">Blog</a>
                </div>
                <div class="navbar-item">
                    <a href="/util" class="header-link">Utilidades</a>
                </div>
                <div class="navbar-item">
                    <a href="https://liberdade.itch.io/" class="header-link" target="_blank">Videogames</a>
                </div>
            </div>
        </nav>

        <section class="section" id="posts">
            {{content}}
        </section>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Liberdade 2017-2025
                </p>
                <p>
                    <a href="https://github.com/liberdade-organizacao/" class="footer-link">
                        <i class="fab fa-github-square"></i>
                    </a>
                    <a href="https://www.crisjr.eng.br" class="footer-link">
                        <i class="far fa-smile-wink" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/cristiano-alves-da-silva-j%C3%BAnior-0a2761187/" class="footer-link">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </p>
            </div>
        </footer>
    </body>
</html>
